
.link-btn {
  border-radius: 30px;
  padding: 0.5vh 1.2vh 1vh ;
  transition: 0.5s;

}

.link-btn:hover {
  background-color: #e0e0e080;
}

div::-webkit-scrollbar {
  width: 0.2rem;
}
 
div::-webkit-scrollbar-track {
  background-color: transparent;
}
 
div::-webkit-scrollbar-thumb {
  background-color: #a8a29e;
  border-radius: 33px;
}
